certifi==2019.6.16
chardet==3.0.4
Click==7.0
dateutils==0.6.6
docutils==0.14
Flask==1.0.3
gunicorn==19.9.0
hapy-heritrix===-.-.-
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
lockfile==0.12.2
luigi==2.8.7
MarkupSafe==1.1.1
nose==1.3.7
prometheus-client==0.7.1
psycopg2-binary==2.8.3
python-daemon==2.1.2
python-dateutil==2.8.0
python-w3act===-.-.-
pytz==2019.1
requests==2.22.0
six==1.12.0
tornado==4.5.3
urllib3==1.25.3
Werkzeug==0.15.4
