certifi==2019.6.16
chardet==3.0.4
Click==7.0
crawlstreams===-.-.-
dateutils==0.6.6
docutils==0.14
Flask==1.0.3
gunicorn==19.9.0
hapy-heritrix===-.-.-
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
kafka-python==1.4.6
lockfile==0.12.2
luigi==2.8.7
lxml==4.3.4
MarkupSafe==1.1.1
mmh3==2.5.1
nose==1.3.7
numpy==1.16.4
pandas==0.24.2
prometheus-client==0.7.1
psycopg2-binary==2.8.3
pysolr==3.8.1
python-daemon==2.1.2
python-dateutil==2.8.0
python-snappy==0.5.4
python-w3act===-.-.-
pytz==2019.1
requests==2.22.0
requests-file==1.4.3
six==1.12.0
surt==0.3.0
tldextract==2.2.1
tornado==4.5.3
urllib3==1.25.3
warcio==1.7.0
Werkzeug==0.15.4
