{% extends "_base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <div id="main">
        <div class="header">
            <h1>{{ title }}</h1>
            <h2>Heritrix3 Dashboard</h2>
        </div>

        <div class="content">

        <h2 class="content-subhead">Workers</h2>

        <table class="pure-table">
            <thead>
                <tr><th>Crawler ID</th><th>Crawl Type</th><th>Crawl Job</th><th>Status</th></tr>
            </thead>
            <tbody>
{% for crawl in crawls %}
<tr>
    <td>{{ crawl['id'] }}</td>
    <td>{{ crawl['deployment'] }}</td>
    <td>{{ crawl['job_name'] }}</td>
    <td>{{ crawl['state']['status'] }}</td>
</tr>
{% endfor %}
            </tbody>
        </table>

        <h2 class="content-subhead">Operations</h2>

        <p>
            <a class="pure-button pure-button-primary" href="{{ url_for('control_all', action='launch') }}" title="LAUNCH ALL CRAWL JOBS!">LAUNCH ALL <i class="fa fa-play-circle" aria-hidden="true"></i></a>
        </p>
        <p>
            <a class="pure-button pure-button-primary" href="{{ url_for('control_all', action='pause') }}" title="PAUSE ALL CRAWL JOBS!">PAUSE ALL <i class="fa fa-pause-circle" aria-hidden="true"></i></a>
            <a class="pure-button pure-button-primary" href="{{ url_for('control_all', action='unpause') }}" title="UNPAUSE ALL CRAWL JOBS!">UNPAUSE ALL <i class="fa fa-play-circle" aria-hidden="true"></i></a>
        </p>
        <p>
            <a class="pure-button pure-button-primary" href="{{ url_for('control_all', action='kafka-report') }}" title="KAFKA REPORT ALL CRAWL JOBS!">KAFKA REPORT ALL <i class="fa fa-play-circle" aria-hidden="true"></i></a>
        </p>
        <p>
            <a class="pure-button pure-button-primary" href="{{ url_for('control_all', action='terminate') }}" title="TERMINATE ALL CRAWL JOBS!">TERMINATE ALL <i class="fa fa-stop-circle" aria-hidden="true"></i></a>
        </p>

        </div>
    </div>


{% endblock %}

