{% extends "_base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <div class="pure-g">
{% for url, timestamp in stats.screenshots[:48] %}
        <div class="pure-u-1-6" style="max-height:150px; overflow:hidden;">
            <a href="{{ url_for('get_rendered_original', url=url, target_date=timestamp) }}">
                <img class="pure-img-responsive" src="{{ url_for('get_rendered_original', url=url, type='thumbnail', target_date=timestamp) }}" alt="Screenshot of {{ url }}">
            </a>
        </div>
{% endfor %}
    </div>

{% endblock %}