{
  "AMQP-FC": {
    "prefix": "http://guest:guest@127.0.0.1:15672/api/queues/%2F/"
  },
  "H3-FC": {
    "url":"https://localhost:8443/",
    "user": "heritrix",
    "pass": "heritrix"
  },
  "H3-DC": {
    "url":"https://localhost:8443/",
    "user": "heritrix",
    "pass": "heritrix"
  }
}
